global:
  checkNewVersion: true
  sendAnonymousUsage: true

log:
  level: DEBUG

accessLog:
  format: json
  filePath: {{traefik_log_dir}}/access.log

entryPoints:
  web:
    address: :80

  websecure:
    address: :443

providers:
  file:
    directory: /etc/traefik/conf.d
    watch: true
